#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.btn-success,
.badge-success {
    background-color: #4EB883;
}

/* .btn-primary {
    background-color: #E9F9F4;
} */
.card-product,
.img-detail {
    border-radius: 15px;
}

.card-product .card-img-top {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .breadcrumb-item a {
    color: #000;
}

.breadcrumb .breadcrumb-item a:hover {
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    font-weight: bold;
    color: #000;
}